<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SYMPA Configuration Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
  
     
   

</head>
<body class="sympabody" onresize="initPage('resize')">> 
<div id="wrapper">
    <div class="header">
        
        <div class="leftcol">&nbsp;
        <canvas id="sympaSprite"></canvas>
        </div>
        <div class="midcol">
            <div class="title">
                H o m e&nbsp;&nbsp;&nbsp;C o n f i g u r a t i o n&nbsp;&nbsp;&nbsp;M a n a g e r
            </div>
            <nav class="navigation">
                @Html.Partial("_LoginPartial")
                <ul class="menu">
                    <li>@Html.ActionLink("Home            ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Admin Functies  ", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Computer   Rapport ", "Index", "Computers")</li>
                    <li>@Html.ActionLink("Component  Rapport ", "Index", "Components")</li>
                    <li>@Html.ActionLink("Installatie Rapport ", "Index", "Installations")</li>
                    <li>@Html.ActionLink("Vendor     Rapport ", "Index", "Vendors")</li>
                    <li>@Html.ActionLink("License    Rapport ", "Index", "Licenses")</li>
                    <li>@Html.ActionLink("Documen- tatie     ", "Index", "Documentations")</li>
                    <li>@Html.ActionLink(" ICON       Rapport ", "Index", "ICONS")</li>
                    <li>@Html.ActionLink("Over SYMPA          ", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact         ", "Contact", "Home")</li>
                </ul>
            </nav>
        </div>
        <div class="rightcol">
           <h3 class="version">Version: 0.6</h3>
        </div>      
      
    </div>
    <div class="content">
        <div class="leftcol">&nbsp;
        </div>
        <div class="midcol" id="content">
            
                @RenderBody()
            
        </div>
        <div class="rightcol">&nbsp;
        </div>
    </div>
    <div class="footer">&nbsp;
        <div class="leftcol">&nbsp;
        </div>
        <div class="midcol">&nbsp;       
        </div>
        <div class="rightcol">&nbsp;
        </div>
    </div>
    <footer class="cline">
        &copy; @DateTime.Now.Year - AdH.Code Application -
    </footer>
    <div class="preload">

    </div>
</div>

   
    @RenderSection("scripts", required: false)
</body>
</html>
