<div class="controller">
    @model ConfigMan.Computer

    @{
        ViewBag.Title = "Computer Add";
    }

    <h2>Create</h2>
    


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Computer</h4>
            <div class="sympaMsg">
                <p>@ViewBag.SympaMsg</p>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ComputerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ComputerName, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus" } })
                    @Html.ValidationMessageFor(model => model.ComputerName, "Geen onderscheid tussen hoofd- en kleine letters", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ComputerPurchaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ComputerPurchaseDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ComputerPurchaseDate, "Datum als dd/mm/yy", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

