<div class="controller">
    @model ConfigMan.Computer

    @{
        ViewBag.Title = "Computer Details";
    }

    <h2>Details</h2>

    <div>
        <h4>Computer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ComputerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ComputerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ComputerPurchaseDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ComputerPurchaseDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ComputerID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
